.DS_Store
FlacPlayer
FlacDemon.xcodeproj
**/FlacDemon.1
**/flacdemon
**/flacdemoninterface

aclocal.m4
autom4te.cache
build
compile
config.h*
config.status
configure.ac
depcomp
dustyfingers
fd_interface.log
flacdemon.db
flacdemon.log
foxygen
install-sh
interface.log
missing
music_files
rundemon
runinterface
stamp-h1

**/Makefile
**/Makefile.in
**/.deps
**/*.o
**/*.in
**/*.in~
**/.dirstamp
config.log
autoscan.log
